@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playwrite+AU+SA:wght@100..400&display=swap');

body {
    font-family: "Open Sans", serif;
    font-optical-sizing: auto;
    font-variation-settings:
        "wdth" 100;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Banner css */
.banner .slide-text:before {
    content: '';
    position: absolute;
    top: 0;
    right: -120px;
    width: calc(100% + 150px);
    height: 100%;
    background: #110310c5;
    transform: skewX(-25deg);
    border-left: 10px solid #713614;
}

.banner .swiper .swiper-button-next,
.banner .swiper .swiper-button-prev {
    left: 50%;
    transform: translateX(50px);
    top: unset;
    bottom: 30px;
    color: #e2bb5a;
}

.banner .swiper .swiper-button-prev {
    transform: translateX(-50px);
}

@media only screen and (min-width: 640px) {
    .banner .slide-text:before {
        width: calc(60% + 150px);
        right: -150px;
    }
}

@media only screen and (min-width: 1024px) {
    .banner .slide-text:before {

        width: calc(50% + 100vw);
        right: -100vw;
    }
}

/* Sort Btn CSS */
.sort-wrap button.group {
    background: #e2bb5a;
}

.sort-wrap button.group:hover {
    background: #a57e1d;
}

.sort-wrap button.group span {
    font-size: 20px;
}

/* Footer CSS */
footer input[type="email"]:focus,
.biodatas form select:focus,
.login input[type="email"]:focus,
.login input[type="password"]:focus {
    border-color: #d833db!important;
    box-shadow: none;
}


/* Biodata filter css */

.biodatas form input[type=range]{
    appearance: none;
    background: #e2bb5a;
}

.biodatas form input[type=range]::-webkit-slider-thumb {
    background: #d833db;
}

.biodatas form input[type=range]::-moz-range-thumb{
    background: #d833db;
}

.biodatas form input[type=range]::-ms-thumb {
    background: #d833db;
}